|<font size="5">Classification</font>|
|------------------------------------|

### Import

In [1]:
from config import *
from src.data import subjects
import numpy as np
import pandas as pd
import glob
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics

### Read Data

In [2]:
all_sub_list = subjects.to_group_level_analysis[0]
all_subjects = subjects.subjects['all'][subjects.subjects['all']['participant_id'].isin(all_sub_list)]

subjects_list = {}
for sg in subjects_groups:
    subjects_list[sg] = all_subjects.where(all_subjects.group==sg).dropna()
    print('\n%d %s subjects are included'%(len(subjects_list[sg]),sg))
    display(subjects_list[sg])
    subjects_list[sg] = subjects_list[sg].participant_id.tolist()

24 CN subjects are included

   group participant_id sex   age
0     CN       003S4288   F  78.4
1     CN       011S0021   F  84.9
2     CN       020S6185   M  82.7
3     CN       023S1190   F  87.4
4     CN       035S6160   M  60.7
5     CN       036S6189   F  69.6
6     CN       037S4028   F  70.7
7     CN       041S4200   F  76.4
8     CN       041S6159   M  76.3
9     CN       041S6192   F  83.3
10    CN       094S4649   M  71.2
11    CN       114S0416   F  87.2
12    CN       114S6063   F  74.3
13    CN       116S6119   F  67.1
14    CN       168S6098   M  63.4
15    CN       168S6085   F  55.8
16    CN       168S6131   F  68.3
17    CN       941S6094   F  69.6
18    CN       116S4453   M  72.0
19    CN       033S4176   M  90.5
20    CN       002S4262   F  74.0
21    CN       002S4225   M  70.0
22    CN       031S4032   F  70.0
23    CN       018S4313   F  78.0

0 EMCI subjects are included

Empty DataFrame
Columns: [group, participant_id, sex, age]
Index: []

0 LMCI subjects are included

Empty DataFrame
Columns: [group, participant_id, sex, age]
Index: []

24 AD subjects are included

   group participant_id sex   age
72    AD       002S5018   M  73.4
73    AD       006S4153   M  81.5
74    AD       006S4867   M  75.7
75    AD       013S5071   M  76.4
76    AD       018S4696   F  73.3
77    AD       018S4733   M  75.4
78    AD       018S5074   F  74.9
79    AD       019S4252   F  86.8
80    AD       019S4477   F  82.4
81    AD       019S4549   M  79.4
82    AD       019S5012   M  76.4
83    AD       053S5070   M  72.4
84    AD       053S5208   M  68.8
85    AD       100S5106   M  74.3
86    AD       130S4589   F  75.2
87    AD       130S4641   F  73.9
88    AD       130S4660   F  77.3
89    AD       130S4730   F  81.2
90    AD       130S4971   M  77.1
91    AD       130S4984   F  73.2
92    AD       130S4990   F  75.7
93    AD       130S5059   M  72.8
94    AD       130S5231   F  74.4
95    AD       136S4993   F  71.9

In [3]:
X = pd.read_csv(rootdir + '/data/07_features/fsisher_fsf/fsisher_fsf_features.csv')
y  = pd.read_csv(rootdir + '/data/07_features/fsisher_fsf/targets.csv')
X = X.set_index('participant_id')
y = y.set_index('participant_id')

In [4]:
y

                group
participant_id
002S4225            0
002S4262            0
002S5018            1
003S4288            0
006S4153            1
006S4867            1
011S0021            0
013S5071            1
018S4313            0
018S4696            1
018S4733            1
018S5074            1
019S4252            1
019S4477            1
019S4549            1
019S5012            1
020S6185            0
023S1190            0
031S4032            0
033S4176            0
035S6160            0
036S6189            0
037S4028            0
041S4200            0
041S6159            0
041S6192            0
053S5070            1
053S5208            1
094S4649            0
100S5106            1
114S0416            0
114S6063            0
116S4453            0
116S6119            0
130S4589            1
130S4641            1
130S4660            1
130S4730            1
130S4971            1
130S4984            1
130S4990            1
130S5059            1
130S5231            1
136S4993            1
168S6085            0
168S6098            0
168S6131            0
941S6094            0

### Split Data

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =.3, train_size=.7)

In [6]:
y_test  = y_test.group.to_numpy()
y_train = y_train.group.to_numpy()
X_test  = X_test.to_numpy()
X_train = X_train.to_numpy()

In [7]:
#X_test

#### SVM

In [8]:
krnls = ['linear', 'poly', 'rbf']

svm_dic = {
    'linear': 
    {'train':[], 'test':[]},
    'poly':
     {'train':[], 'test':[]},
    'rbf': 
    {'train':[], 'test':[]}
}


for k in krnls:
    clf = svm.SVC(kernel=k)
    clf.fit(X_train, y_train)
    
    test_prediction = clf.predict(X_test)
    train_prediction = clf.predict(X_train)
 
    svm_dic[k]['test'].append(metrics.accuracy_score(
        test_prediction, y_test))
    svm_dic[k]['test'].append(metrics.precision_score(
        test_prediction, y_test))
    svm_dic[k]['test'].append(metrics.recall_score(
        test_prediction, y_test, zero_division = 1))
    
    svm_dic[k]['train'].append(metrics.accuracy_score(
        train_prediction, y_train))
    svm_dic[k]['train'].append(metrics.precision_score(
        train_prediction, y_train))
    svm_dic[k]['train'].append(metrics.recall_score(
        train_prediction, y_train, zero_division = 1))

In [9]:
svm_dic

{'linear': {'train': [0.9090909090909091, 0.8421052631578947, 1.0],
  'test': [0.8, 0.8, 0.6666666666666666]},
 'poly': {'train': [1.0, 1.0, 1.0], 'test': [0.8, 0.8, 0.6666666666666666]},
 'rbf': {'train': [0.9393939393939394, 0.8947368421052632, 1.0],
  'test': [0.8666666666666667, 1.0, 0.7142857142857143]}}